﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Dinuc Calculation</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                  crossorigin="anonymous"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
        </environment>
        <link rel="stylesheet" href="~/Content/Site.css" />
    </head>
    
    <body>
        <div class="container-fluid">
                <div class="row border border-dark rounded  header-bar">
                    <div class="col-md-10">
                        <h3>Dinuc Calculation</h3>
                    </div>
                    <div class="col-md-1 align-bottom">
                        <li>Home</li>
                    </div>
                    <div class="col-md-1">
                        <li>About</li>
                    </div>
                </div>
        </div>
            
               <div>
                    @RenderBody()
                </div>            

    <footer class="fixed-bottom" style="background: lightgrey; height: 20">
        <p><center>&copy; 2020 Dinucleotide calculation</center></p>
    </footer>

    </body>
</html>

