@model DinucleotidesFrq.Models.TestModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    Test View
    <br>    
        @Model.Seq
    <br>
        @Html.DropDownListFor(s => s.SeqList, Model.SeqList, "--Select--")
    <br>    
        @Html.DropDownListFor(m => m.SeqFileList, Model.SeqFileList, "--Select--")
</body>
</html>

