@model DinucleotidesFrq.Models.MultipleModel
@using DinucleotidesFrq.Helpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row  justify-content-center">
        <h2>Sequence input</h2>
    </div>
    <div class="row  justify-content-center">
        @{
            Match match = new Match();
            match.MatchSeq(Model);
            if(Model.Seq.SeqMatch)
            {
                <p style="color: black">Enter A, C, G, T or a, c, g, t only</p>
            }
            else
            {
                <p style="color: red">Enter A, C, G, T or a, c, g, t only</p>
            }
        }
    </div>
    
        @using(Html.BeginForm("Calculation" , "DinucCalc", FormMethod.Post))
        {
            <div class="row justify-content-center">
                @Html.TextAreaFor(s => s.Seq.Seq, new{@class="text-area"})
            </div>
            <br>
            <div class="row justify-content-center">
                <button value="calculate">Calculate</button>
            </div>
        }
</div>
<br>
<div class="container-fluid" style="overflow-y: scroll">
    <div class=" row justify-content-center">
        <br>
        <h2>Choose sequence</h2>
        <br>
    </div>
    
    <div>
    @using (Html.BeginForm("SeqIn", "SeqInput", FormMethod.Post))
    {
    <div class="row">
        <div class="col-md-3 text-right">
            <b> Test seq: </b>
        </div>
        <div class="col-md-7">
            @Html.DisplayFor(t => t.Seq.TestSeq)
        </div>
        <div class="col-md-2">
            <button name="choose" value="add-test">Add</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 text-right">
            <b>Random seq(100 bp): </b>
        </div>
        <div class="col-md-7">
            @Html.DisplayFor(r => r.Seq.RandSeq)
        </div>
        <div class="col-md-2">
            <button name="choose" value="make-random">Make seq</button>
            <button name="choose" value="add-random">Add</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 text-right">
            <b>Select form list: </b>        
        </div>
        <div class="col-md-9">
            @Html.DropDownListFor(s => s.SeqNames.Names, "Choose an option")
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 text-right">
            <b>Select from GB: </b>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-2"></div>
    </div>
    }
</div>
